.chat-main-container{
    height: 100%;
    padding: 15px;
    box-sizing: border-box;
    .chat-header{
        height: 60px;
    }
    .chat-page-container{
        background-color: var(--grey-shade-11);
        border-radius: 8px;
        height: calc(100% - 60px);
        width: 100%;
        padding: 10px;
        position: relative;

        .input-box{
            position: absolute;
            bottom: 10px;
            width: 97.5%;
            border: 1px solid var(--grey-shade-6);
            background-color: var(--grey-shade-6);
        }
    }
}